html, body, #map {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

.sidebar {
    height: 100vh;
    width: 10%;
    background-color: #f4f2ec;
    overflow: auto;
}

.content-panel {
    height: 100vh;
    width: 30%;
}

#map {
    height: 100vh;
    width: 60%;
}

.sidebar button {
    width: 100%;
    text-align: left;
    line-height: 1.2;
}

.sidebar button:hover {
    background-color: #f4f2ec;
    color:  black;
}

.floating-button {
    position: absolute;
    bottom: 3.5%; /* Distance from the bottom */
    right: 1%; /* Distance from the right */
    background-color: #f4f2ec; /* Button background color */
    border: 1px solid #ccc; /* Button border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Padding for button */
    cursor: pointer; /* Cursor style */
    z-index: 1000; /* Ensure it is above other elements */
}

.floating-button:hover {
    background-color: #cccccc; /* Change color on hover */
}